# generc file-types
**.ko
**.so
**.ko.cmd
**.mod.c
**.o
**.o.cmd
**.swp
**.sym
**.ver
**.tmp

# generic files
**/.tmp_versions/
**/modules.order
config.mk
src/lcec_conf
src/lcec.exported
src/Module.symvers

# packaging
/debian/debhelper-build-stamp
/debian/files
/debian/linuxcnc-ethercat.debhelper.log
/debian/linuxcnc-ethercat.substvars
/debian/linuxcnc-ethercat/
