# generc file-types
**.ko
**.so
**.ko.cmd
**.mod.c
**.o
**.o.cmd
**.swp
**.sym
**.ver
**.tmp

# generic files
**/.tmp_versions/
**/modules.order
config.mk
src/lcec_conf
src/lcec.exported
src/Module.symvers

# debian pkgbuild files
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.log
debian/*.substvars
debian/linuxcnc-ethercat/
debian/linuxcnc-ethercat.debhelper.log
debian/linuxcnc-ethercat.substvars
