Source: linuxcnc-ethercat
Section: unknown
Priority: extra
Maintainer: Sascha Ittner <sascha.ittner@modusoft.de>
Build-Depends: debhelper (>= 8.0.0),
  linuxcnc-dev | linuxcnc-sim-dev | linuxcnc-uspace-dev | libmachinekit-hal-dev (>= 0.5.0) | machinekit-hal-dev (<< 0.5.0),
  linuxcnc-dev | linuxcnc-sim-dev | linuxcnc-uspace-dev | python3-machinekit-hal (>= 0.5.0) | machinekit-hal-dev (<< 0.5.0),
  etherlabmaster-dev | igh-ethercat-dev, libethercat | igh-ethercat,
  libexpat1-dev
Standards-Version: 3.9.3

Package: linuxcnc-ethercat
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
  linuxcnc | linuxcnc-sim | linuxcnc-uspace | machinekit-hal,
  libethercat
Recommends: etherlabmaster-dkms
Description: LinuxCNC EtherCAT HAL driver
